section {
  @include grid-row();
}

div.card {
  @include grid-column(4);
  margin: 0 auto;

  .card-divider {
    position: relative;
    i {
      position: absolute;
      right: 10px;
    }
  }
}

section.home-intro {
  background-color: greenyellow;

  h1 {
    font-family:"Comic Sans MS";
    color: pink;
  }
}

.popup {
  margin: 0 auto;
  width: 400px;
  height: auto;
  border: 2px solid #f4f4f4;
  padding: 8px;
  display: none;
}

.show {
  display: block;
  z-index: 1;
}
